@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 150px;
  margin: 20px 0;
}

input,
textarea,
select {
  display: block;
  margin-bottom: 10px;
}

table {
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

th,
td {
  padding: 8px;
  text-align: center;
}

.red {
  color: red;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  margin-right: 10px;
}

.pagination li a.active {
  font-weight: 700;
}
